@use "../../styles/variables.scss" as var;

.dropdown-item {
    overflow: hidden;
    width: 100%;

    .dropdown-header {
        position: relative;
        background-color: var.$main-color;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 2;
        cursor: pointer;

        @media screen and (min-width: 768px) {
            padding: 10px 20px 10px 10px;
        }

        span {
            line-height: 142.6%;
            font-weight: bold;
            color: var.$white-color;
        }

        img.arrow-dropdown {
            transition: transform 0.3s ease;
            width: 16px;
            height: 9px;

            @media screen and (min-width: 768px) {
                width: 24px;
                height: 14px;
            }

            &.open {
                transform: rotate(180deg);
            }
        }
    }
    .dropdown-content {
        max-height: 0;
        opacity: 0;
        transform: translateY(-40px);
        transition: max-height 0.3s ease-out, opacity 0.3s ease-out,
            transform 0.3s ease-out;
        overflow: hidden;

        &.open {
            max-height: 4000px;
            opacity: 1;
            transform: translateY(0);
        }

        p,
        ul {
            margin-top: -3px;
            background-color: var.$grey-color;
            padding: 16px 20px 20px 20px;
            border-radius: 0 0 5px 5px;
            line-height: 142.6%;

            @media screen and (min-width: 768px) {
                padding: 25px 20px 20px 20px;
            }

            @media screen and (min-width: 1040px) {
                padding: 16px 20px 20px 20px;
            }
        }
    }
}
