@import "../../styles/global/variables.scss";

.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $main-color;
    min-width: 84px;
    color: $white-color;
    border-radius: 10px;
    font-size: 0.625rem;
    font-weight: 600;
    padding: 1.5px 5px 1.5px 5px;

    @media screen and (min-width: 768px) {
        padding: 3px 15px;
    }

    @media screen and (min-width: 1040px) {
        font-size: 0.875rem;
        padding: 2px 15px;
    }
}
