.herobanner {
      position: relative;
      width: 100%;
      height: 111px;
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url('../../../assets/heroBanner.svg');
      background-size: cover;
      background-position: center center;
      border-radius: 20px;

      @media screen and (min-width: 1024px) {
            height: 223px;
      }

      &__img {
            object-fit: cover;
            height: 111px;
            width: 100%;
            opacity: 50%;
            border-radius: 12px;
      }

      &__text {
            min-width: 230px;
            width: 60%;
            position: absolute;
            top: 6px;
            left: 16px;
            color: white;
            z-index: 2;
            font-size: clamp(24px, 4vw, 48px);
            font-weight: bold;

            @media screen and (min-width: 1024px) {
                  width: 70%;
                  left: 150px;
                  top: 50px;
            }
      }
}
