.redstar {
      @media screen and (min-width: 1024px) {
            width: 36px;
            height: 36px;
      }
}

.greystar {
      @media screen and (min-width: 1024px) {
            width: 36px;
            height: 36px;
      }
}
