.rental-infos {
    @media screen and (min-width: 1040px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .title-tag {
        margin-bottom: 16px;

        @media screen and (min-width: 1040px) {
            display: flex;
            flex-direction: column;
        }

        .tags-wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
    }

    .host-rating {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 13px;

        @media screen and (min-width: 1040px) {
            display: flex;
            flex-direction: column-reverse;
            gap: 21px;
            margin-bottom: 0;
        }
    }
}

.rental-dropdowns {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: 1040px) {
        flex-direction: row;
        justify-content: space-between;
    }
}
