.rental-infos {
    @media screen and (min-width: 1040px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;
    }

    .title-tag {
        margin-bottom: 16px;

        @media screen and (min-width: 1040px) {
            display: flex;
            flex-direction: column;
            margin-bottom: 0;
        }

        .tags-wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
    }

    .host-rating {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 13px;

        @media screen and (min-width: 1040px) {
            display: flex;
            flex-direction: column-reverse;
            gap: 21px;
            margin-bottom: 0;
        }
    }
}

.rental-dropdowns {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: 1040px) {
        flex-direction: row;
        justify-content: space-between;
        gap: 76px;
    }

    .dropdown-item {
        .dropdown-header {
            span {
                font-size: 0.813rem;

                @media screen and (min-width: 768px) {
                    font-size: 0.938rem;
                }

                @media screen and (min-width: 1040px) {
                    font-size: 1.125rem;
                }
            }
        }

        p,
        ul {
            font-size: 0.75rem;

            @media screen and (min-width: 768px) {
                font-size: 0.938rem;
            }

            @media screen and (min-width: 1040px) {
                font-size: 1.125rem;
            }
        }
    }
}
