.carousel {
      position: relative;
      width: 100%;
      height: 255px;
      @media screen and (min-width: 1024px) {
            height: 415px;
      }
      &__img {
            object-fit: cover;
            border-radius: 10px;
            height: 255px;
            width: 100%;
            @media screen and (min-width: 1024px) {
                  height: 415px;
            }
      }
      &__arrowleft {
            position: absolute;
            left: 0px;
            top: 127.5px;
            width: 24px;
            @media screen and (min-width: 1024px) {
                  width: 46.68px;
                  top: 207px;
            }
      }
      &__arrowright {
            position: absolute;
            right: 0px;
            top: 127.5px;
            width: 24px;
            @media screen and (min-width: 1024px) {
                  width: 46.68px;
                  top: 207px;
            }
      }
}
