.card {
    position: relative;
    background-color: black;
    border-radius: 13px;
    height: 255px;
    width: 100%;
    margin-top: 27px;
    @media screen and (min-width: 768px) {
        margin-top: 0;
    }
    @media screen and (min-width: 1024px) {
        margin-top: 0;
    }
    &__img {
        width: 100%;
        height: 255px;
        object-fit: cover;
        border-radius: 10px;
        opacity: 85%;
    }
    &__title {
        color: white;
        position: absolute;
        z-index: 2;
        font-size: 18px;
        top: 180px;
        left: 19.71px;
        display: flex;
        align-items: end;
        bottom: 0;
        margin: 0;
        padding: 0 20px 15px 0;

        @media screen and (min-width: 1024px) {
            padding: 0 20px 20px 0;
        }
    }
}
