@import "../../styles/global/variables.scss";

.rental-header {
    margin: 15px 0 10px 0;

    @media screen and (min-width: 768px) {
        margin: 22px 0 15px 0;
    }

    @media screen and (min-width: 1040px) {
        margin: 0 0 20px 0;
    }

    .rental-title {
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 142.6%;
        color: $main-color;
        margin-bottom: 5px;

        @media screen and (min-width: 768px) {
            font-size: 1.688rem;
            margin-bottom: 0;
        }

        @media screen and (min-width: 1040px) {
            font-size: 2.25rem;
            max-width: 600px;
        }
    }

    .rental-location {
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 142.6%;

        @media screen and (min-width: 768px) {
            font-size: 1rem;
        }

        @media screen and (min-width: 1040px) {
            font-size: 1.125rem;
        }
    }
}
