.aboutBanner {
      height: 111px;
      border-radius: 10px;
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
            url('../../../assets/valley.svg');
      background-size: cover;
      background-position: center center;
}
