.main-rental {
      margin: 0 27px 0 27px;
      &__ratingHost {
            margin: 15px 0 12px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
      }
}
