@import "../../styles/global/variables.scss";

.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: $black-color;
    padding: 66px 0 58px 0;

    .logo {
        margin-bottom: 16px;

        @media screen and (min-width: 1040px) {
            margin-bottom: 47px;
        }
    }

    .copyright {
        color: $white-color;
        font-size: 0.75rem;
        max-width: 131px;
        text-align: center;
        line-height: 142%;

        @media screen and (min-width: 1040px) {
            font-size: 1.5rem;
            max-width: none;
        }
    }
}
